<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/Logo Amazing Events.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Amazing Events|Home</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="./assets/Logo Amazing Events.png" alt="logo">
        </div>
        <div class="botones">
            <a href="#">Home</a>
            <a href="./upcom.html">Upcoming Events</a>
            <a href="./past.html">Past Events</a>
            <a href="./contact.html">Contact</a>
            <a href="./stats.html">Stats</a>
        </div>
    </header>
    <main id="app">
        <section>
            <h1>
                Home
            </h1>
        </section>
        <form class="form">
            <div class="categ" id="cat">
                <div class="check-selects" >
                    <label class="check_sep" v-if="categorias" v-for="cate of categorias">
                    <input type="checkbox" v-on:change="filtroCruzado" class="checks-deks" v-model="checked" :value="cate" name="cate" :id="cate">
                    {{cate}}
                    </label>
                    </div>

            </div>
            <div class="div_b">
                <input  id="buscar" class="form-control me-2" v-on:input="filtroCruzado" v-model="valorDeBusqueda" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </form>
        <div  id="card_home" class="cards" >
            <div v-if="tarjetasFiltradas" class="card" style="width: 18rem;" v-for="tarjeta of tarjetasFiltradas">
                <img v-bind:src="tarjeta.image" class="card-img-top" style="height: 10rem;" :alt="tarjeta.name">
                <div class="card-body">
                <h5 class="card-title">{{tarjeta.name}}</h5>
                <p class="card-text">{{tarjeta.description}}</p>
                <div class="price">       
                <p class="card-text">price: {{tarjeta.price}}</p>
                <a :href="'./view.html?id='+tarjeta._id" class="btn btn-primary">view more</a></div>
                </div>
                </div>
        </div>
        <div v-show="tarjetasFiltradas.length==0" class="text-center fs-1">No matches found</div>
    </main>
    <footer>
        <div class="img_foo">
            <a href="#"><img src="https://img.freepik.com/vector-premium/instagram-vector-icono-redes-sociales-instagram-logo-ilustracion_153454-525.jpg?w=2000" alt="instagram"></a>
            <a href="#"><img src="https://www.unipile.com/wp-content/uploads/2022/06/logo-facebook.png" alt="facebook"></a>
            <a href="#"><img class="what" src="https://1000marcas.net/wp-content/uploads/2019/11/WhatsApp-logo.jpg" alt="whatssap"></a>
        </div>
        <div>
            <h3>cohort</h3>
        </div>
    </footer> 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./todas.js"></script>
</body>
</html>